
<!-- Carousel -->
<div class="row">
  <div id="myCarousel" class="carousel slide visible-xs">
    <div class="container-fluid">
      <div class="carousel-inner">
        <div class="item active">
          <img src="assets/img/battle-field-carousel.png"> 
        </div>
        <div class="item">
          <img src="assets/img/wwe-carousel.png"> 
        </div>
        <div class="item">
          <img src="assets/img/madden-25-carousel.png">       </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="icon-next"></span>
    </a>
  </div>
</div>
    <!-- End carousel -->



 <!-- Coverflow --> 
<div class="row">
<div class="cover-flow-div">
<div class="container">
<div class="main-coverflow-container row hidden-xs">
  <div class="coverflow-container">
    <ol class="coverflow-list">
      <!-- Cover item -->
      <input type="radio" name="cover-item" id="cover-1">
      <li class="coverflow-item">
        <label class="coverFlowLabel" for="cover-1">
          <figure class="game-cover">
            <img src="assets/img/nba2k15.png">
            <figcaption class="game-name">NBA2K15</figcaption>
          </figure>
        </label>
      </li>
      <!-- Cover item -->
      <input type="radio" name="cover-item" id="cover-2">
      <li class="coverflow-item">
        <label class="coverFlowLabel" for="cover-2">
          <figure class="game-cover">
            <img  src="assets/img/madden.png" />
            <figcaption class="game-name">MADDEN 25</figcaption>
          </figure>
        </label>
      </li>
      <!-- Cover item -->
      <input type="radio" name="cover-item" id="cover-3">
      <li class="coverflow-item">
        <label  class="coverFlowLabel" for="cover-3">
          <figure class="game-cover">
            <img  src="assets/img/need-for-speed.png">
            <figcaption class="game-name">NEED FOR SPEED</figcaption>
          </figure>
        </label>
      </li>
      <!-- Cover item -->
      <input type="radio" name="cover-item" id="cover-4">
      <li class="coverflow-item">
        <label class="coverFlowLabel" for="cover-4">
          <figure class="game-cover">
            <img  src="assets/img/rainbow-six.png">
            <figcaption class="game-name">RAINBOW SIX</figcaption>
          </figure>
        </label>
      </li>
      <!-- Cover item -->
      <input type="radio" name="cover-item" id="cover-5">
      <li class="coverflow-item">
        <label class="coverFlowLabel" for="cover-5">
          <figure class="game-cover">
            <img  src="assets/img/wwe.png">
            <figcaption class="game-name">WWE</figcaption>
          </figure>
        </label>
      </li>
      <!-- Cover item -->
      <input type="radio" name="cover-item" id="cover-6">
      <li class="coverflow-item">
        <label class="coverFlowLabel" for="cover-6">
          <figure class="game-cover">
            <img  src="assets/img/halo.png">
            <figcaption class="game-name">HALO</figcaption>
          </figure>
        </label>
      </li>
      <!-- Cover item -->
      <input type="radio" name="cover-item" id="cover-7">
      <li class="coverflow-item">
        <label class="coverFlowLabel" for="cover-7">
          <figure class="game-cover">
            <img  src="assets/img/call-of-duty.png">
            <figcaption class="game-name">CALL OF DUTY</figcaption>
          </figure>
        </label>
      </li>
      <!-- Cover item -->
      <input type="radio" name="cover-item" id="cover-8">
      <li class="coverflow-item">
        <label class="coverFlowLabel" for="cover-8">
          <figure class="game-cover">
            <img src="assets/img/spliter-game.png" >
            <figcaption class="game-name">SPLITER CELL</figcaption>
          </figure>
        </label>
      </li>
      <!-- Cover item -->
      <input type="radio" name="cover-item" id="cover-9">
      <li class="coverflow-item">
        <label class="coverFlowLabel" for="cover-9">
          <figure class="game-cover">
            <img src="assets/img/battle-field.png" >
            <figcaption class="game-name">BATTLE FIELD</figcaption>
          </figure>
        </label>
      </li>
    </ol>
  </div>
  <div class="controls hidden">
      <label class="coverFlowLabel" for="cover-1">1</label>
      <label class="coverFlowLabel" for="cover-2">2</label>
      <label class="coverFlowLabel" for="cover-3">3</label>
      <label class="coverFlowLabel" for="cover-4">4</label>
      <label class="coverFlowLabel" for="cover-5">5</label>
      <label class="coverFlowLabel" for="cover-6">6</label>
      <label class="coverFlowLabel" for="cover-7">7</label>
      <label class="coverFlowLabel" for="cover-8">8</label>
      <label class="coverFlowLabel" for="cover-9">9</label>
    </div>
</div>

</div>
</div>
</div>
 <!-- End Coverflow --> 

 <hr>


<!-- Modal Sign Up-->
<div class="modal fade" id="textModal" ng-controller="SignupController" modelform>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
        </button>
        <h4>Sign up today to join</h4>
      </div>
        <div class="modal-body">
          <form role="form-horizontal" name="form" ng-submit="register(form)" novalidate>


            <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                                'has-error': form.email.$invalid && submitted }">
              <label class="emailLabel" for="exampleInputEmail">Email Address</label>

              <input type="email" name="email" class="form-control" ng-model="user.email" id="exampleInputEmail1" placeholder="Enter email"
                     required
                     mongoose-error/>

              <p class="help-block" ng-show="form.email.$error.email && submitted">
                Doesn't look like a valid email.
              </p>
              <p class="help-block" ng-show="form.email.$error.required && submitted">
                What's your email address?
              </p>
              <p class="help-block" ng-show="form.email.$error.mongoose">
                {{ errors.email }}
              </p>
            </div>

            <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                          'has-error': form.password.$invalid && submitted }">
              
              <label for="exampleInputPassword1">Password</label>
              
              <input type="password" name="password" class="form-control" ng-model="user.password" id="exampleInputPassword" placeholder="Password"
                     ng-minlength="3"
                     required
                     mongoose-error/>
              <p class="help-block"
                 ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
                Password must be at least 3 characters.
              </p>
              <p class="help-block" ng-show="form.password.$error.mongoose">
                {{ errors.password }}
              </p>
            </div>

            <p>Select your birthday</p>
            <div class="row">
            <div class="col-xs-3">
              <input type="text" name="year" class="form-control" ng-model="user.year" id="exampleInputyear" placeholder="year">
              </div>
            <div class="col-xs-3">
              <input type="text" name="month" class="form-control" ng-model="user.month" id="exampleInputmonth" placeholder="month">
              </div>
              <div class="col-xs-3">
              <input type="text" name="day" class="form-control" ng-model="user.day" id="exampleInputday" placeholder="day">
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
          </form>

        </div>
      </div>
    </div>
  </div>
 </div>

 <!-- End Modal -->

 <!-- Modal Sign In-->

 <div class="modal fade" id="signInModal" ng-controller="LoginController" modelform>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
        </button>
        <h4>Sign In</h4>
        <div class="modal-body">
          <form class="form-horizontal" role="form" name="form" ng-submit="login(form)" novalidate>


            <p class="text-danger" ng-show="form.email.$error.mongoose">
              {{ errors.email }}
            </p>

            <p class="help-block" ng-show="form.email.$error.email && submitted">
              Doesn't look like a valid email.
            </p>
            <p class="help-block" ng-show="form.email.$error.required && submitted">
              What's your email address?
            </p>


            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" name="email" id="inputEmail3" placeholder="Email" ng-model="user.email" required mongoose-error>
              </div>
            </div>

            <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
              <div class="col-sm-10">
                <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="user.password">
              </div>
            </div>
            
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                  <label>Remember me </label>
                  <input type="checkbox" ng-model="remember">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-default">Sign in</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
 </div>

 <!-- End Modal -->

 <!-- Main Content -->

<div class="container"> 
  <a class="btnFeature btn btn-primary btn-lg" href="#">enter to play</a>
</div>


<div class="container home-container">

<div class="row">
<div class="col-sm-4">  
      
      <b class="glyphicon glyphicon-user"></b>
      <h2 class="hp-header">User</h2>
      <p class="hp-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mi augue, tempor et mollis at, volutpat eu mauris. Nunc eget mollis quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mi augue, tempor et mollis at, volutpat eu mauris. Nunc eget mollis quam. </p>
</div>

<div class="col-sm-4">   
       
        <b class="glyphicon glyphicon-off"></b>
        <h2 class="hp-header">Power On</h2>
        <p class="hp-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mi augue, tempor et mollis at, volutpat eu mauris. Nunc eget mollis quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mi augue, tempor et mollis at, volutpat eu mauris. Nunc eget mollis quam. </p>
      
  </div>

<div class="col-sm-4">
        
           <b class="glyphicon glyphicon-usd"></b> 
           <h2 class="hp-header">Prizes</h2>
           <p class="hp-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mi augue, tempor et mollis at, volutpat eu mauris. Nunc eget mollis quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mi augue, tempor et mollis at, volutpat eu mauris. Nunc eget mollis quam. </p>
         
  </div>
</div> 
</div>
<!-- End Main Content -->




